.main_content__head
  .main_content__head__group_name
    = @group.name
  =link_to "Edit", edit_group_path(@group), class: "main_content__head__edit_button"
  .main_content__head__group_member
    Member: 
    - @group.users.each do |user|
      = user.name + " "
