.main_content__head
  .main_content__head__group_name
    sampleグループ
  =link_to "Edit", root_path, class: "main_content__head__edit_button"
  .main_content__head__group_member
    member: kosaburo, masashi, kazuya, kenji