.side_bar__bottom
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .side_bar__bottom__group_name
        = group.name
    .side_bar__bottom__latest_message
      グループ１最新メッセージ
