%div.side_bar__bottom
  %div.side_bar__bottom__group_name
    グループ名１
  %div.side_bar__bottom__latest_message
    グループ１最新メッセージ
  %div.side_bar__bottom__group_name
    グループ名２
  %div.side_bar__bottom__latest_message
    グループ２最新メッセージ
  %div.side_bar__bottom__group_name
    グループ名３
  %div.side_bar__bottom__latest_message
    グループ３最新メッセージ