.main_content__footer {
  height: $main_content__footer--height;
  background-color: $main_content__footer--background_color;
  box-sizing: border-box;
  padding: 20px 40px;

  &__form {
    height: 50px;

    &__chat_input {
      height: 50px;
      width: calc(100% - 180px); // この「padding-left: 10px」と「__image_uploadのwidthとmarginとpadding」と「__send_buttonのwidth」を足すと180px
      border: none;
      padding-left: 10px;
      float: left;

      &:focus {
        outline: none; // 入力時の青線を消去
      }
    }

    &__image_upload {
      width: 50px;
      text-align: center;
      line-height: 50px;
      float: left;
      color: $main_content__footer__form__image_upload--color;
      cursor: pointer;
      margin-right: 15px;
      padding-right: 10px;
      background-color: $main_content__footer__form__image_upload--background_color;
    }
    
    &__send_button {
      width: 95px;
      text-align: center;
      line-height: 50px;
      float: left;
      background-color: $primary;
      color: $main_content__footer__form__send_button--color;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }
  }
}