.side_bar {
  width: $side_bar--width;
  height: 100vh;
  background-color: #2f3e51;
  float: left;
  box-sizing: border-box;

  &__head {
    height: 100px;
    background-color: #253141;
    padding: 60px 20px 0;
    box-sizing: border-box;

    &__user_name {
      color: $text--main_color;
      font-size: 16px;
      font-weight: bold;
      float: left;
    }

    &__icon_setting {
      @include side_bar_icon_setting();
    }

    &__icon_new_message {
      padding-right: 5px;
      @include side_bar_icon_setting();
    }
  }

  &__bottom {
    padding: 0 20px;

    &__group_name {
      margin: 20px 0 5px;
      color: $text--main_color;
      font-size: 15px;
    }

    &__latest_message {
      margin-bottom: 40px;
      color: $text--main_color;
      font-size: 11px;
    }
  }
}
