@import "./reset";
@import "font-awesome";

.side_bar {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  float: left;
  box-sizing: border-box;
  &__head {
    width: 300px;
    height: 100px;
    background-color: #253141;
    padding: 60px 20px 0 20px;
    box-sizing: border-box;
    &__user_name {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
      float: left;
    }
    &__icon_setting {
      float: right;
      color: #FFFFFF;
      font-size: 20px;
      line-height: 1px;
    }
    &__icon_new_message {
      padding-right: 5px;
      float: right;
      color: #FFFFFF;
      font-size: 20px;
      line-height: 1px;
    }
  }
  &__bottom {
    padding: 0 20px;
    &__group_name {
      margin: 20px 0 5px 0;
      color: #FFFFFF;
      font-size: 15px;
    }
    &__latest_message {
      margin-bottom: 40px;
      color: #FFFFFF;
      font-size: 11px;
    }
  }
} 

.main {
  width: calc(100vw - 300px);
  height: calc(100vh - 90px);
  float: right;
  &__head {
    box-sizing: border-box;
    padding: 0 40px 0 40px;
    background-color: white;
    height: 99px;
    border-bottom: 1px solid #eeeeee;
    &__group_name {
      float: left;
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
    }
    &__edit_button {
      float: right;
      color: #38AEF0;
      text-decoration: none;
      margin: 28px 20px 0 20px;
      line-height: 40px;
    }
    &__group_member {
      font-size: 12px;
      color: #999999;
      clear: both;
    }
  }
  &__chat_space {
    box-sizing: border-box;
    margin: 0;
    padding: 40px;
    background-color: rgb(231, 231, 231);
    height: calc(100vh - 189px);
    overflow: scroll;
    &__user_name:first-child {
      margin-top: 0;
    }
    &__user_name {
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
      margin: 40px 0 10px 0;
    }
    &__created_at {
      all: initial;
      font-size: 12px;
      color: #999999;
      margin-left: 10px;
    }
    &__comment {
      font-size: 14px;
      color: #434A54;
    }
  }
  &__footer {
    height: 90px;
    background-color: #AAAAAA;
    box-sizing: border-box;
    padding: 20px 40px;
    &__form {
      height: 50px;
      background-color: #FFFFFF;
      &__chat_input {
        height: 50px;
        width: calc(100vw - 550px);
        border: none;
        padding-left: 10px;
        float: left;
        &:focus {
          outline: none;
        }
      }
      &__image_upload {
        width: 80px;
        text-align: center;
        line-height: 50px;
        float: left;
        color: #333333;
      }
      &__send_button {
        width: 80px;
        text-align: center;
        line-height: 50px;
        float: left;
        background-color: #38AEF0;
        color: #FFFFFF;
        text-decoration: none;
        border: none;
      }
    }
  }
} 



